body {
    background-color: #f8f9fa;
}
.container {
    text-align: center;
    margin-top: 50px;
}
.trophy {
    color: #f1c40f;
}
.stat {
    display: flex;
    
    margin-bottom: 20px;
}
.stat img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.stat div {
    text-align: left;
}
.btn-review  {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}
#backSubmit{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 50px 50px 50px 50px;
    font-size: 16px;
    border-radius: 5px;
}
#localempty{
    border: none;
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    
    background: #f2f2f2;
    border-radius: 8px;
    height: 100vh;
}
.loc{
    margin-top: 20vw;
}
