.mbody {
    font-family: Arial, sans-serif;

}

.container {

    padding-left: 50px;
    padding-top: 0px;
}








.header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    font-size: 20px;
    margin: 0;
}

.instructions p {
    margin-bottom: 5px;
}

.instructions ul {
    list-style-type: none;
    padding-left: 0;
}

.instructions ul li {
    margin-bottom: 5px;
}

.instructions ul li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.not-visited {
    background-color: white;
    border: 1px solid black;
}

.not-answered {
    background-color: red;
}

.answered {
    background-color: green;
}

.marked-for-review {
    background-color: purple;
}

.answered-marked-for-review {
    background-color: purple;
    position: relative;
}

.answered-marked-for-review::after {
    content: '\2713';
    color: green;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
}

.profile {
    text-align: center;
    padding: 10px;
    background-color: #e9f7fd;
    border-left: 1px solid #ccc;
}

.profile img {
    border-radius: 40%;
    width: 180px;
    height: 180px;
}

.profile h5 {
    margin-top: 10px;
}

.btn-next {
    text-align: right;
    margin-top: 20px;
}

.sidebar {
    background-color: #e6f2ff;
    padding: 20px;
    border-left: 1px solid #ddd;
    height: 100vh;
    display: inline;
}

.sidebar .user-info {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .user-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.sidebar .user-info p {
    margin: 5px 0 0;
}


.footer {
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 75%;
    background-color: #dee2e6;
    color: white;
    text-align: right;
    justify-content: end;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer button {
    margin-left: 10px;
}